* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: linear-gradient(-45deg, #cc2b5e, #2193b0, #753a88, #6dd5ed);
    background-size: 400% 400%;
    animation: gradient 60s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }